<a href="https://colab.research.google.com/github/varshapande/Python-Project/blob/main/dataframe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import pandas as pd


 

name = []
n = int(input())
for i in range(n):
   nm = input("")
   name.append(nm)
print(name)

2
ty
tu

In [13]:
maths = []
n = int(input())
for i in range(n):
 sb = int(input(""))
 maths.append(sb)
print(maths)

2
3
3
[3, 3]

In [14]:
n = int(input())
phy = []
for i in range(n): 
 sb2 = int(input(""))
 phy.append(sb2)
print(phy)

2
34
4
[34, 4]

In [15]:
n = int(input())
scince = []
for i in range(n):
  sb3 = int(input(""))
  scince.append(sb3)
print(scince)

2
5
5
[5, 5]

In [18]:
import pandas as pd
data = { "name" : name,
    "maths" : maths,
   "phy" : phy,
    "scince" : scince
}
print(data)
df = pd.DataFrame(data)
df

{'name': ['ty', 'tu'], 'maths': [3, 3], 'phy': [34, 4], 'scince': [5, 5]}

  name  maths  phy  scince
0   ty      3   34       5
1   tu      3    4       5

In [30]:
df.mean(axis = 0)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

maths      3.0
phy       19.0
scince     5.0
dtype: float64

In [31]:
df.sum(axis = 0, skipna = True)
df1 = df.drop(['scince'],axis = 1)
df1

  name  maths  phy
0   ty      3   34
1   tu      3    4

In [33]:
df1.sum(axis = 1, skipna = True)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

0    37
1     7
dtype: int64

In [34]:
df.set_index(['name'], inplace = True)
df

      maths  phy  scince
name
ty        3   34       5
tu        3    4       5

In [21]:
def add_column():
     var = input("subj name")
     ls = []
     m = int(input("number of students"))
     for i in range (m):
      ms = int(input("marks"))
      ls.append(ms)
      df[var] = ls

In [28]:
print(df)

  name  subj1  subj2  subj3  sub5  sub8  sub7  sub9
0   sh     23     34     56    23    23    23    23
1   gt     34     36     33    25    25    25    25
2   lk     45     28     22    26    26    26    26